kiyomics-orientation-message {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  .phone-icon {
    position: relative;
    animation: 3s infinite running anim-phone-icon;

    .arrow {
      position: absolute;
      width: 120px;
      height: 25px;
      overflow: hidden;
      top: -30px;
      left: -35px;
      animation: 3s infinite running anim-phone-arrow;

      &-line {
        width: 120px;
        height: 120px;
        border: 2px solid #ee7100;
        border-radius: 100%;
      }

      &-head {
        position: absolute;
        display: inline-block;
        height: 0;
        width: 0;
        top: 10px;
        left: 13px;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #ee7100;
      }
    }

    .phone {
      width: 52px;
      height: 98px;
      background-color: #ee7100;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;


      &-mic {
        width: 15px;
        height: 3px;
        background-color: black;
        border-radius: 5px;
      }

      &-glass {
        width: 88%;
        height: 80%;
        background-color: black;
      }

      &-button {
        width: 8px;
        height: 8px;
        background-color: black;
        border-radius: 100%;
      }
    }
  }
}

@keyframes anim-phone-icon {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@keyframes anim-phone-arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@media all and (orientation: landscape) {
  kiyomics-orientation-message {
    display: none;
  }
}
